<div class="comments">
  <div class="comment comment_area">
    <div class="comment_user">
     <%= gravatar(current_user) %>
    </div>
    <div class="commentbody">
      <%= form_for([@pin, @pin.comments.build], html: { class: "comment"},
                turboboost: true) do |f| %>
        <%= f.text_area :content, placeholder: "Add a comment.." %>
        <%= f.submit class: 'button postbutton', value: 'Comment' %>
      <% end %>
    </div>
  </div>
</div>
