<div id="pfcont">
  <div class="profileheader">
    <div class="header-background">&nbsp;</div>
    <div class="fixedcontainer row clearfix">
      <div class="profileinfo profilepanel ">
        <%= gravatar(user, size: 165) %>
        <div class="content">
          <h1><%= user.name %></h1>
            <p class="colormuted"></p>
            <ul class="icons profilelinks">
              <li class="profilewebsite">
                  <a href="https://127.0.0.1/pint/navneet" class="icon website colorless" target="_blank"></a>
              </li>
            </ul>
        </div>
      </div>
      <div class="profilerepins profilepanel">
        <h3>Repins from</h3>
        <ul>
          <li>
            <a href="/heather_itzla/?d">
                <img src="http://media-cache-ec1.pinterest.com/avatars/heather_itzla-48.jpg" alt="Profile Picture of Heather Itzla">
                <strong>Heather Itzla</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
