<div id="add-email" class="container">
  <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user),
                 :html => {:class => 'Form FancyForm AuthForm', role: 'form'}) do |f| %>
  <ul class="ControlGroups">
    <li>
      <h1>Add Email</h1>
    </li>
    <li>
      <% if @show_errors && current_user.errors.any? %>
        <div id="error_explanation">
          <% current_user.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <% end %>
        </div>
      <% end %>
    </li>
    <li>
      <%= f.text_field :email, :autofocus => true, :value => '',
                          class: 'form-control input-lg', placeholder: 'Example: email@me.com' %>
    </li>
  </ul>
  <div class="non_inputs">
    <%= f.submit "Continue", class: "Button WhiteButton Button18" %>
  </div>
  <% end %>
</div>

