<%= render @user %>

<div class="main_container" style="position: relative; height: 865px; width: 948px;">
  <%= render @pins %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate(@pins) %>
</div>
