<div class="inline">
  <strong id="following" class="stat">
    <%= user.followers.count %>
  </strong>
  followers
</div>
<div class="inline">
  <strong id="following" class="stat">
    <%= user.followings.count %>
  </strong>
  following
</div>
