<div id="header">
  <!-- header panel -->
  <div class="header_panel">

      <!-- logo -->
      <%= link_to "", root_path, class: "logo" %>
      <!-- search form -->
      <form action="" method="get" class="search">
          <input autocomplete="off" name="q" size="27" placeholder="Search" type="text">
          <input name="search" value="search" type="submit">
      </form>
        <%= render "layouts/nav" %>
  </div>
</div>
